[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.2"
flask-sqlalchemy = "==3.0.3"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
faker = "*"
werkzeug = "==2.2.2"

[dev-packages]

[requires]
python_version = "3.12"
